<a href="https://colab.research.google.com/github/Sha-diya/Road-to-Data-Science-/blob/main/Python%20Fundamentals/Day-02%20/Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in python
- Arithmetic Operator
- Relational Operator
- Logical Operator
- Bitwise Operator
- Assignment Operator
- Membership Operator

In [ ]:
# Arithmetic Operator
addition = 4 + 2
print("Addition: ",addition)

subtraction = 4 - 2
print("Subtraction: ", subtraction)

multiplication = 4 * 2
print("Multiplication: ",multiplication)

division = 11 / 5
print("Division: ", division)

integer_division = 11 // 5 # convert the result into integer if it is in decimal
print("Integer Division: ",integer_division)

modulus = 13 % 2 # return the reminder of the division
print("Modulus: ", modulus)

power = 3 ** 2 # retrun power of the base
print("Power: ", power)

Addition:  6
Subtraction:  2
Multiplication:  8
Division:  2.2
Integer Division:  2
Modulus:  1
Power:  9

In [ ]:
# Relational Operator
print("4 is Greater than 5: ",4 > 5)
print("4 is less than 5   : ",4 < 5)
print("4 is greater than equal 5: ",4 >= 5)
print("4 is less than equal 5   : ",4 <= 5)
print("4 is equal to 5     : ",4 == 5)
print("4 is not equalt to 5: ",4 != 5)

4 is Greater than 5:  False
4 is less than 5   :  True
4 is greater than equal 5:  False
4 is less than equal 5   :  True
4 is equal to 5     :  False
4 is not equalt to 5:  True

In [ ]:
# Logical Operator -- and, or, not
print("Logical and: ", 1 and 0) # the result will be 1 if both the input is 1

print("Logical or: ", 1 or 0) # the result will be 1 if any of the input is 1

print("Logical not: ", not 1) # convert (1 -> 0) and (0 -> 1)

Logical and:  0
Logical or:  1
Logical not:  False

In [ ]:
# Bitwise Operator -- operate on binary operand
#bitwise and
print("Bitwise and: ",2 & 3) # if both bits are 1 the output will be 1
#
# 2 --> 0010
# 3 --> 0011
# -------------
# (&)-->0010(2)
#

#bitwise or
print("Bitwise or: ",2 | 3) # if any bits are 1  the output will be 1
#
# 2 --> 0010
# 3 --> 0011
# -------------
# (|)-->0011(3)
#

#bitwise xor
print("Bitwise XOR: ",2 ^ 3) # if both bits are different the output will be 1
#
# 2 --> 0010
# 3 --> 0011
# -------------
# (^)-->0001(1)
#

#bitwise not ~
print("Bitwise not: ",~3) # change the bits in binary representaions 1 to 0 and 0 to 1

#bitwise left shift
print("Bitwise left shift: ",4 >> 2) # shift the bits to the left in binary representation

#bitwise right shift
print("Bitwise right shift",4 << 2) # shift the bits to the right in binary representation

Bitwise and:  2
Bitwise or:  3
Bitwise XOR:  1
Bitwise not:  -4
Bitwise left shift:  1
Bitwise right shift 16

In [ ]:
# Assignment Operators
# assign a value to a variable
Name = "Shadia"
Weight = 45
Num = 12
Num += 8 # Num = Num + 8

print(Num)

20

In [ ]:
# Membership Operators
# in --> is any value exists
print("B is in the word Bangladesh: ",'B' in 'Bangladesh')
print("1 is in the list [2,3,4,5]: ",1 in [2,3,4,5])

# not in --> is any value doesn't exists
print("B is not in the word Bangladesh: ",'B' not in 'Bangladesh')

B is in the word Bangladesh:  True
1 is in the list [2,3,4,5]:  False
B is not in the word Bangladesh:  False

In [ ]:
#Q1. Find the sum of a 3 digit number inter by the user
#take input from the user
Num = int(input("Enter a 3 digit number: "))
a = Num
Result = 0
# calculate the result of the number using a loop
while Num > 0:
  Result += (Num%10)
  Num //= 10

#print the result
print(f"Result of {a} is {Result}")

Enter a 3 digit number: 123
Result of 123 is 6

# If-else in python

In [ ]:
# if-else help to handle brancing(Any assumption of unexpected vehaviors) in the program
# create a log in program provided with the user input username and password
# we assume the there have only onle user name and password
user_name1 = "shadia" # assume
password1 = "12321"

user_name = input("Enter user name: ")
password = input("Enter password: ")

#check if the user name and password is correct or not
if user_name == user_name1 and password == password1:#if password and user_name is correct
  print("Log in success")
elif user_name == user_name1 and password != password1: #if user_name is correct but password is wrong
  print("Incorrect password")
  password = input("Enter password again: ")# take input again for password and recheck
  if password == password1:
    print("Log in success")
  else:
    print("Log in denied")
else:
  print("Log in denied")

Enter user name: shadia
Enter password: 1111
Incorrect password
Enter password again: 1231
Log in denied

In [ ]:
# if-else examples
# 1. find minimum/ maximum from 3 number
#Take input from user
num_a = int(input("enter first number: "))
num_b = int(input("enter second number: "))
num_c = int(input("enter third number: "))

if num_a < num_b and num_a < num_c: # see if a is smallest
  print("Minimum number is: ", num_a)
elif num_b < num_a and num_b < num_c: # see if b is smallest
  print("Minimum number is: ", num_b)
else:
  print("Minimum number is: ", num_c) # if a and b is not smallest then c is the smallest

enter first number: 2
enter second number: 1
enter third number: 2
Minimum number is:  1

In [ ]:
# 2. menu driven calculator
num_1 = int(input("Enter 1st number: "))
num_2 = int(input("Enter 2nd number: "))
operation = input("Enter operation to perform on the numbers: ")

if operation == '+':
  print("Addition: ", num_1 + num_2)
elif operation =='-':
  print("Subtraction: ", num_1 - num_2)
elif operation =='*':
  print("Multiplication: ", num_1 * num_2)
elif operation =='/':
  print("Division: ", num_1 / num_2)
else:
  print("Invalid operation")

Enter 1st number: 12
Enter 2nd number: 11
Enter operation to perform on the numbers: +
Addition:  23

In [ ]:
# menu driven atm system (disply)
menu = input("""
Hi! How can I help you?
1. Enter 1 for change pin
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for Exit
""")

if menu == '1':
  print("Pin changed!")
elif menu == '2':
  print("The amount of balance in the account is *****$")
elif menu == '3':
  print("Money withdrawed")
elif menu == '4':
  print("Exit")
else:
  print("Incorrect Menu")

Hi! How can I help you?
1. Enter 1 for change pin
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for Exit
2
The amount of balance in the account is *****$

# Modules in python
- math
- keywords
- random
- Date time

In [ ]:
# Math -- All the math function
import math

print(math.ceil(12.22))
print(math.factorial(5))
print(math.sqrt(169))

13
120
13.0

In [ ]:
# keyword
import keyword
keyword.kwlist # all the keywords in python

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

28

In [ ]:
# Date time
import datetime
print(datetime.datetime.now())

2025-03-15 15:09:51.073154

In [ ]:
help('modules') # return all the modules of python

# Loops
- for loop
- while loop

In [ ]:
# what is loop
# a piece of code that perform same task multiple time based on a given condition
# print a multiplication table using while loop
# take input from user
number = int(input("Enter the number: "))

i = 1
# perform calculation for multiplication
while i < 11:
  print(f"{number} * {i} = {number * i}")
  i += 1

Enter the number: 11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [ ]:
# while loop with else

x = 1
while x < 5:
  print(x)
  x += 1

else:
  print("Limit exit")

1
2
3
4
Limit exit

In [ ]:
# make a gussing game where a user will gusse a number to have a pregenerated number
# generate random number
import random
jackpot = random.randint(1,100)


# let the user to guess the number
user_guess = int(input("Choose a number between 1 and 1000: "))
number_of_gusses = 1

while user_guess != jackpot:
  if user_guess < jackpot:
    print("Guess higher")
    user_guess = int(input(f"Choose a number higher than {user_guess}: "))
  elif user_guess > jackpot:
    print("Guess lower")
    user_guess = int(input(f"Choose a number lower than {user_guess}: "))
  number_of_gusses += 1

else:
  print(f"You hit the jackpot which is {jackpot} and you need {number_of_gusses}")

Choose a number between 1 and 1000: 51
Guess lower
Choose a number lower than 51: 40
Guess lower
Choose a number lower than 40: 20
Guess higher
Choose a number higher than 20: 30
Guess higher
Choose a number higher than 30: 45
Guess lower
Choose a number lower than 45: 44
Guess lower
Choose a number lower than 44: 35
Guess higher
Choose a number higher than 35: 39
Guess lower
Choose a number lower than 39: 38
Guess lower
Choose a number lower than 38: 37
Guess lower
Choose a number lower than 37: 36
You hit the jackpot which is 36 and you need 11

In [ ]:
# for loop
# print 1 to 10 with step size 1
for i in range(1,11):
  print(i, end=' ')

print('\nwith step size 2')
for i in range(1,12,2):
  print(i,end=' ')

#reverse
print("\nReverse:")
for i in range(11,1,-1):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10
with step size 2
1 3 5 7 9 11
Reverse:
11 10 9 8 7 6 5 4 3 2

# Question 1: The current population of a town is 10000. The population of this town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of the last 10 years

In [14]:
# given parameters
population = 10000
increasing_rate = 0.1
duration = 10

# x * 10%x = 10000 at a last year
# 1.1x = 10000
# x = 10000 / 1.1
for i in range(10, 0,-1):
  print(f"Population at the year {i} was {population}")
  population = (population / 1.1 )

Population at the year 10 was 10000
Population at the year 9 was 9090.90909090909
Population at the year 8 was 8264.462809917353
Population at the year 7 was 7513.148009015775
Population at the year 6 was 6830.134553650703
Population at the year 5 was 6209.213230591548
Population at the year 4 was 5644.739300537771
Population at the year 3 was 5131.5811823070635
Population at the year 2 was 4665.07380209733
Population at the year 1 was 4240.976183724845

# Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# take input from the user
angle_1 = float(input("Enter first angle: "))
angle_2 = float(input("Enter second angle: "))
angle_3 = float(input("Enter third angle: "))

if angle_1 + angle_2 + angle_3 == 180:
  print("This can form a triangle")
else:
  print("It can't form a triangle")

Enter first angle: 60
Enter second angle: 30
Enter third angle: 90
This can form a triangle

# Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cost_price = float(input("Enter cost of the product: "))
selling_price = float(input("Enter selling price of the product: "))

if cost_price > selling_price:
  print("Loss")
elif cost_price < selling_price:
  print("Profit")
else:
  print("No effect!")

Enter cost of the product: 20
Enter selling price of the product: 10
Loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
choose = int(input("""
Hello! What you want to do?
1. Enter 1 for to convert cm to ft
2. Enter 2 for to convert km to miles
3. Enter 3 for to convert USD to Taka
4. Enter 4 to exit
"""))

if choose == 1:
  print("cm to ft converted!") # here the logic behind the scence will be implemeted
elif choose == 2:
  print("km to miles converted!")
elif choose == 3:
  print("USD to Taka converted!")
else:
  print("Exit")

Hello! What you want to do?
1. Enter 1 for to convert cm to ft
2. Enter 2 for to convert km to miles
3. Enter 3 for to convert USD to Taka
4. Enter 4 to exit
2
km to miles converted!

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# calculate the factorial of a given number from the user
Num = int(input("Enter any number to find factorial: "))

temp = Num
result = 1 # store the result
while Num > 0:
  result *= Num
  Num -= 1

print(f"The factorial of {temp} is {result}")

Enter any number to find factorial: 5
The factorial of 5 is 120

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# take user input
num = int(input("Enter any number: "))
result = 0
i = 1
while i != num:
  if i % 5 != 0 and result < 300:
    result += i
  i += 1

else:
  print(f"The sum of 1 to {num} is: {result}")

Enter any number: 5
The sum of 1 to 5 is: 10

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum = 0 # to store the sum of user input
avg = 0 # to store the average of the input
cnt = 0 # to count number of entries

while True:
  user_input = int(input("Enter any number: "))
  if(user_input != 0):
    sum += user_input
    cnt += 1
  else:
    break

avg = sum / cnt
print(f"The sum is {sum}\n The average is {avg}")

Enter any number: 4
Enter any number: 3
Enter any number: 5
Enter any number: 0
The sum is 12
 The average is 4.0

###`Problem 10`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
start = 2000
end = 3200

while start <= end:
  if start % 7 == 0 and start % 5 !=0:
    print(start,end=',')
  start += 1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 11`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
start = 1000
end = 3000

while start <= end:
  a = start

  while a > 0:
    temp = a % 10
    a //= 10
    if temp % 2 != 0:
      a = -1
  if a != -1:
    print(start, end=',')
  start += 1

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

###`Problem 12`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
x = 0
y = 0
print("""
Enter the direction and format as below,
UP value
DOWN value
LEFT value
RIGHT value
to exit : !
""")
# direction , value
while True:
  direction = input("Enter direction: ")
  if direction == '!' :
    break

  value = int(input("Enter value: "))

  if direction == "UP":
    y += value
  elif direction == "DOWN":
    y -= value
  elif direction == "LEFT":
    x -= value
  else:
    x += value

import math
distance = math.sqrt( x ** 2 + y ** 2)
print(round(distance))

Enter the direction and format as below,
UP value
DOWN value
LEFT value
RIGHT value
to exit : !

Enter direction: UP
Enter value: 5
Enter direction: DOWN
Enter value: 3
Enter direction: LEFT
Enter value: 3
Enter direction: RIGHT
Enter value: 3
Enter direction: !
2