<a href="https://colab.research.google.com/github/Sha-diya/Road-to-Data-Science-/blob/main/Python%20Fundamentals%20/Day-04/Day_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List
- What are lists?
- Lists vs Array
- Characteristics of a List
- How to create a list
- Accessing items from a List
- Editing items in a list
- Deleting items from a list
- Operations on a list
- Functions on a list

# What are list
List is a data type where you can store multiple items under one name. More technically, lists act like dinamica arrays which means you can add more items on the fly.  
Like,  L = [ 20, 'Shadia', 30.37, [1,2,3,1] ]  
- Why lists are required in programming?
-- Helpful to store similar types of data

# Array vs Lists
- Fixed vs Dynamic in size
- Homogeneous -> Hetrogeneous
- Speed of execution --> lists are slower
- Memory --> list takes more storage

# How lists are stored in memory?
- Lists are stores as array of pointers that reference objects stored elsewhere in memory  
id() --> print memory address

In [4]:
L = [1,2,3]
print(id(L))
print("Memorry address of lists index: ",id(L[0]), id(L[1]), id(L[2]),sep=', ')
print("Memory address of items of List: ",id(1),id(2),id(3),sep=', ')

140125867330880
Memorry address of lists index: , 10750856, 10750888, 10750920
Memory address of items of List: , 10750856, 10750888, 10750920

# Characteristics of lists
- Ordered is important
- Changeable / Mutable
- Hetrogeneous
- Can have suplicates
- Are dynamic
- Can be nested
- items can be accessed
-  can contain any kinds of objects in python

# Creating a list

In [5]:
# Empty
Empty_list = []
print("Enpty List: ", Empty_list)
# 1D
oneD_List = [1,2,4]
print("One_D list: ", oneD_List)
# 2D
twoD_list = [1,2,3,[4,5]]
print("Two_D List: ", twoD_list)
# 3D
threeD_list = [[[1,2],[3,4]],[[5,6],[7,8]]]
print("Three_D list: ", threeD_list)
# Hetrogenous
hetrogenous = ['Shadia',21,44.5,True]
print("Hetrogenous List: ", hetrogenous)
# Using Type Conversion
List = list("Shadia")
print("List using type convertion: ",List)

Enpty List:  []
One_D list:  [1, 2, 4]
Two_D List:  [1, 2, 3, [4, 5]]
Three_D list:  [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
Hetrogenous List:  ['Shadia', 21, 44.5, True]
List using type convertion:  ['S', 'h', 'a', 'd', 'i', 'a']

# Accessing items from a list

In [22]:
# Indexing
L = [1,2,3,[4,5]]
# positive indexing (Left to right and start from 0)
print(L[0])
print(L[3])

# Negative indexing
print(L[-1][-2])
print(L[-2])

L1 = [[[1, 2],[3, 4]],[[5, 6],[7, 8]]] # 3_D list
print(L1[0][0][1])

# Slicing
L = [1,2,3,4,5,6,7]
print(L[::-1])

1
[4, 5]
4
3
2
[7, 6, 5, 4, 3, 2, 1]

# Adding items to a list

In [31]:
# Append
L = [1,2,3,4,5]
p = [10,20]
L.append(p) # add one item at a time
print("Append",L)

# Extend
L.extend([6,7,8]) # add multiple item at a time
print('Extend',L)

# insert
L.insert(1,100) #insert(Pos, value)
print('Insert',L)

Append [1, 2, 3, 4, 5, [10, 20]]
Extend [1, 2, 3, 4, 5, [10, 20], 6, 7, 8]
Insert [1, 100, 2, 3, 4, 5, [10, 20], 6, 7, 8]

# Editing items in a list

In [35]:
L = [1,2,3,4,5]
L[-1] = 500
print("Editing with indexing: ",L)

L[0:4] = [20,30,40,50]
print("Editing with slicing: ",L)

Editing with indexing:  [1, 2, 3, 4, 500]
Editing with slicing:  [20, 30, 40, 50, 500]

# Deleting item from a list

In [47]:
# del
L = [1,2,3,4,5]
del L[-1]
print("Using indexing: ",L)

del L[-3:]
print("Using Slicing: ",L)

L = [1,2,3,4,5]
# remove -- remove items based on the value not index
L.remove(5)
print("Remove using 'remove' function based on value: ",L)

# pop -- default delete last item
L = [1,2,3,4,5]
L.pop()
print(L)

# clear -- delete all the item from the list
L = [1,2,3,4,5]
L.clear()
print(L)

Using indexing:  [1, 2, 3, 4]
Using Slicing:  [1]
Remove using 'remove' function based on value:  [1, 2, 3, 4]
[1, 2, 3, 4]
[]

# Operation On list
- Arithmetic
- Membership
- Loop

In [49]:
# Arithmetic -- (+, *)
L1 = [1,2,3,4]
L2 = [4,5,6,7]
print("Addition: ",L1 + L2) # marge two list using '+'

print("Marge L1 to L1 3 times: ",L1 * 3)

Addition:  [1, 2, 3, 4, 4, 5, 6, 7]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [53]:
# Membership operator
L1 = [1,2,3,4,5]
L2 = [1,2,3,[4,5,6]]
print(5 in L1)
print([4,5,6] in L2)

True
True

In [57]:
# loop
L1 = [1,2,3,4,5]
L2 = [1,2,3,[4,5,6]]
L3 =[[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

# List Functions

In [68]:
# len/min/max/sorted
L1 = [1,12,30,2,3,4,5]
print("Length of the list is: ",len(L1))
print("Minimum of the list is: ",min(L1))
print("maximum of the list is: ",max(L1))
print("Sorted list is: ",sorted(L1))# not permanent operation

Length of the list is:  7
Minimum of the list is:  1
maximum of the list is:  30
Sorted list is:  [1, 2, 3, 4, 5, 12, 30]

In [63]:
# count
L1 = [1,1,2,3,0,2,3,4,5]
print("Return frequency: ",L1.count(1))

2

In [69]:
# index
L1 = [1,1,2,3,0,2,3,4,5]
print('Index of "2" is: ',L1.index(2)) # not permanent operation

Index of "2" is:  2

In [70]:
# reverse
L1 = [1,1,2,3,0,2,3,4,5]
L1.reverse() # permanently reverses the list
print("Reverse of the list is: ",L1)

Reverse of the list is:  [5, 4, 3, 2, 0, 3, 2, 1, 1]

In [71]:
# sort -- permanent
L1 = [1,1,2,3,0,2,3,4,5]
L1.sort() # make permaent change
print(L1)

[0, 1, 1, 2, 2, 3, 3, 4, 5]

In [73]:
# copy --> Shallow copy(Copy the item on new memory)
L1 = [1,1,2,3,0,2,3,4,5]
L = L1.copy()
print(L)

[1, 1, 2, 3, 0, 2, 3, 4, 5]

# List Comprehension
List comprehension provides a concise way of creating lists.  
newlist = [expression for item in iterable if condition == True]  
Advantages of comprehension:  
- More time-efficient and space efficient than loops
- Require fewer lines of code
- Transforms iterative statement into a formula

In [75]:
# add 1 to 10 in a list
L = []
# for i in range(1,11):
#   L.append(i)

# print(L)

L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
# scaler multiplication on a vector
v = [2,3,4]
s = -3

# L = []
# for i in v:
#   L.append(i*s)
# print(L)

L = [i * s for i in v]
print(L)

[-6, -9, -12]

In [80]:
# add squares
L = [1,2,3,4]

L1 = [i**2 for i in L]
print(L1)

[1, 4, 9, 16]

In [81]:
# print all the numbers that are divisible by 5 in the range of 1 to 50

L = [ i for i in range(1,51) if i % 5 == 0]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [83]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

print([language for language in languages if  language.startswith('p')])

['python', 'php']

In [84]:
# nested if with list comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','graps','banana']

# add new list from my_fruits and items if the fruit exists in the basket and also start with a
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [85]:
# print a (3,3) matrix using list comprehension --> nested list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [88]:
# certesian products --> list comprehension on 2 list together
L1 = [1,2,3,4]
L2 = [4,5,6,7]

[[i*j for i in L1] for j in L2]

[[4, 8, 12, 16], [5, 10, 15, 20], [6, 12, 18, 24], [7, 14, 21, 28]]

# two ways to traverse a list
- item wise
- index wise

In [89]:
# itemwise
L = [1,2,3,4,5]
for i in L:
  print(i)

1
2
3
4
5

In [91]:
# index wise
L = [1,2,3,4,5]
for i in range(0,len(L)):
  print(L[i])

1
2
3
4
5

# Zip
The Zip() function returns a Zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and the second item in each passed iterator are paird together.   
If the passed iterators have different lengths, the iterators with the lest items decides the lenght of the new iterators.

In [2]:
# write a program to add items of two list index wise
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

L3 = list(zip(L1,L2))
print(L3)

[i+j for i,j in L3]

[(1, -1), (2, -2), (3, -3), (4, -4)]

[0, 0, 0, 0]

# Disadvantages of Python list
- slow
- Risky use
- eats up more memory

In [4]:
a = [1,2,3,4]
b = a

print(a)
print(b)

a.append(5)
print(a)
print(b)

b = a.copy()
a.append(6)

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

# List Programs

In [5]:
# create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6,7]

L1_odd = [i for i in L if i%2 != 0]
L2_even = [i for i in L if i%2 == 0]

print("Odd list: ", L1_odd)
print("Even list: ", L2_even)

Odd list:  [1, 3, 5, 7]
Even list:  [2, 4, 6]

In [12]:
# how to take list as input from user
user_list = list(map(int,input("Enter your list items: ").split()))
print("List from user: ",user_list)

Enter your list items: 1 2 3 4
List from user:  [1, 2, 3, 4]

In [15]:
# write a program to marge 2 list without using the + operator

L1 = [1,2,3,4,5]
L2 = [6,7,8,9]

print(L1+L2)

L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,6,7]
# replace 3 with 300

for i in range(0,len(L)+1):
  if L[i] == 3:
    L[i] = 300
    break

print(L)

[1, 2, 300, 4, 5, 6, 7]

In [24]:
# write a program to convert 2D list into 1D list
L_2D = [[1,2,3],[4,5,6]]

L_1D = [i for j in L_2D for i in j]
print(L_1D)

[1, 2, 3, 4, 5, 6]

In [25]:
# write a program to remove duplicate items from the list
L = [1,1,3,2,1,2,3,4,4,5,5]

list(set(L))

[1, 2, 3, 4, 5]

In [27]:
# write a program to check if a list is in ascending order or not
L = [2,1,3,1,5,6]

print('Is sorted: ',L == sorted(L))

Is sorted:  False

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [29]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

list(zip(list1,list2))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [36]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [43]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for candy,item in zip(candy_list, no_of_items):
  print(f"{candy} - {item}")

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [46]:
list1 = [1,2,3,4,5,6]

L = []
sum = 0
for i in list1:
  sum += i
  L.append(sum)

print(L)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [49]:
list1 = [2,4,6,10,1]
list2 = []
sum = 0
for i in list1:
  for j in list1:
    if j >= i:
      sum += j
  list2.append(sum)
  sum = 0

print("list2: ", list2)

list2:  [22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [52]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

L = []
for i in num1:
  for j in num2:
    if i == j:
      L.append(i)
      break


L.sort()
print(L)

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [61]:
from functools import reduce

def product_of_digits(s):
    # Extract numeric characters
    digits = [int(char) for char in s if char.isdigit()]
    # Compute product, return 1 if no digits are found
    return reduce(lambda x, y: x * y, digits, 1) if digits else 1

# Given list
alphanumeric_list = ['1ac21', '23fg', '456', '098d', '1', 'kls']

# Sorting based on product value of digits
sorted_list = sorted(alphanumeric_list, key=product_of_digits, reverse=True)

# Output the sorted list
print(sorted_list)

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [72]:
list1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
L = [word for sentence in list1 for word in sentence.split()]

print(L)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [73]:
list1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
result =' '.join(''.join(i) for i in list1)
result

'campux is best channel'

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [75]:
import re # for regular expressions
list1 = ['campusxIs', 'bestFor', 'dataScientist']
[re.sub(r'([a-z])([A-Z])',r'\1 \2',word) for word in list1]

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [76]:
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]

union_result = list(set(list1) | set(list2))
union_result.sort()

print(union_result)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [80]:
List1 = [[1,2,3],[4,5,6],[7,8,9]]
L = []
for i in List1:
  L.append(max(i))

L

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [83]:
[[i*3 + j for j in range(3)] for i in range(3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [85]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
for row in transpose:
    print(row)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = [item for sublist in matrix for item in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]