<a href="https://colab.research.google.com/github/Sha-diya/Road-to-Data-Science-/blob/main/Python%20Fundamentals%20/Day-01/Day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Output

In [ ]:
#Python is case sensitive language
print("Hello World")

Hello World

In [ ]:
print("This is Shadia, From Bangladesh a Data scientiest To be")

This is Shadia, From Bangladesh a Data scientiest To be

In [ ]:
print("What are you doing?", 1 , 7.33 , True)

What are you doing? 1 7.33 True

In [ ]:
print("What are you doing?", 1 , 7.33 , True, sep=', ')

What are you doing?, 1, 7.33, True

In [ ]:
print("Hello",end='-')
print("shadia")

Hello-shadia

# Data Type

In [ ]:
#Integer
print("Integer: ",121)
#Decimal/Float
print("Decimal point number: ",12.1112)
#String/Text
print("String: ","Shadia you can do what you want.")
#Boolen
print("Boolen data: ", True,"/" ,False)
#complex number
print("Complx number: ",5+6j)

Integer:  121
Decimal point number:  12.1112
String:  Shadia you can do what you want.
Boolen data:  True / False
Complx number:  (5+6j)

In [ ]:
#List
A_list = [1,2,3,4]
print("List: ",A_list)
#Tuple
A_tuple = (1,2,4,5)
print("Tuple: ",A_tuple)
#sets
A_sets={1,2,3,4}
print("Sets: ",A_sets)
#Disctionary
A_dictionary={
    "Name" : "Shadia",
    "Age" : 24,
    "Country": "Bangladesh"
}
print("Dictionary: ", A_dictionary)

List:  [1, 2, 3, 4]
Tuple:  (1, 2, 4, 5)
Sets:  {1, 2, 3, 4}
Dictionary:  {'Name': 'Shadia', 'Age': 24, 'Country': 'Bangladesh'}

In [ ]:
#type-->tells the data type of the veriable
type(A_sets)

set

# Variables

In [ ]:
# Static vs Dynamic Typing
#-->Dinamic Typing: do not tell the type of the datatype, the laguage it self interpret the type
#-->Static typing: need to tell the data type of the variables

# Static vs Dynamic Binding
#-->Dynamic Binding: The earlest assignment is assign to the variable Whcih can be of any type
#--> static Binding: can not change the data is once declear in the scope

# Stylish declaration Techniques
name = 'Shadia'
age = 24
weight = 44.45

print(" name:",name,"\n","Age:",age,"\n", "Weight:",weight)

 name: Shadia
 Age: 24
 Weight: 44.45

In [ ]:
a,b,c=1,2,"shadia"
print(a,b,c,sep=',')

a=b=c=121
print(a,b,c,sep=',')

1,2,shadia
121,121,121

# Keyword and identifiers

In [ ]:
#keywords
"""Python is an interpreter that interpret code line by line."""

#Identifiers
"""built in class, functions name that are created by the developer
Rules:
1.can't start with digit
2.no special carecter other the underscore "_"
3.can't be any keywords"""

# User Input

In [6]:
name = input("Enter you name: ")
print("Your name is: ",name)

Enter you name: Hello
Your name is:  Hello

In [11]:
#Add two number taking user input
#1. Take input from the user
'''#while taking input python store the data as string as string is the universal data format'''

num_A = int(input("Enter 1st number: "))
num_B = int(input("Enter 2nd number: "))
#2.add the 2 variable and store them in a variable called result
Result = num_A + num_B
#3.print the result
print("The addition of num_A and num_B is: ", Result)

Enter 1st number: 3121
Enter 2nd number: 1
The addition of num_A and num_B is:  3122

# Type Conversion

In [16]:
#Implicit
"""#Python handle type convertion internally
#python convert the type of integer to float"""
print(5+5.5)
#Explicit
#Developer handles the type conversion manually
print(int(4.55))
print(float(222))

10.5
4
222.0

# Literals

In [27]:
binary_num =0b1010 # binary literals -> 0b
print("From binary literals: ",binary_num)
Decima_num = 1000 # decimal literal
print("Decimal number: ",Decima_num)
octal_num = 0o310 # Octal literal --> 0o
print("From octal literal: ",octal_num)
hexa_num = 0x12c # Hexadecimal literal --> 0x
print("From Hexa literal: ",hexa_num)

From binary literals:  10
Decimal number:  1000
From octal literal:  200
From Hexa literal:  300
1.21
140.0
0.0132
0.0,1.4

In [28]:
#Float literal
Float_1 = 1.21
print(Float_1)
Float_2 = 1.4e2 # 1.4 * 10^2
print(Float_2)
Float_3 = 1.32e-2 # 1.32 * 10^-2
print(Float_3)

1.21
140.0
0.0132

In [29]:
#Complex literal
complex_num = 1.4j
print(complex_num.real , complex_num.imag, sep=',')

0.0,1.4

In [33]:
#String literal
String_1 = "This is double qouted String"
print(String_1)
String_2 = 'This is single qouted String'
print(String_2)
String_3 = "C" #This is single character
print(String_3)
String_4 = """This is threepal qouted string"""
print(String_4)

unicode = u"\U0001f600"
print(unicode)
raw_str = r"\n for new line" #used for \t, \n, and other tabs character
print(raw_str)

This is double qouted String
This is single qouted String
C
This is threepal qouted string
ðŸ˜€
\n for new line

In [34]:
#Boolens
#True = 1
a = True + 4
print("a: ", a)
#False = 0
b = False + 12
print("b: ", b)

a:  5
b:  12

In [38]:
a = None
print("Data Type of ", a, "is ", type(a))

Data Type of  None is  <class 'NoneType'>

# Practice till now

# Q1 :- Print the given strings as per stated format.
Input : "Data" "Science" "Mentorship" "Program"
"By" "CampusX"

---


Output : Data-Science-Mentorship-Program-started-By-CampusX

In [40]:
s1 = "Data"
s2 = "Science"
s3 = "Mentorship"
s4 = "Program"
s5 = "By"
s6 = "CampusX"

print(s1,s2,s3,s4,s5,s6,sep='-')

Data-Science-Mentorship-Program-By-CampusX

# Q2:- Write a program that will convert celsius value to fahrenheit.

In [41]:
# Taking input in celsious from the user
C = float(input("Enter celcious value: "))
#calculate fahrenheit from celsious using formula
F = ((C*9)/5)+32
#print the result
print(F)

Enter celcious value: 12
53.6

# Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [46]:
#Take the input from the user
Num_A = int(input("Enter first number: "))
Num_B = int(input("Enter second number: "))
print("Numbers before swap")
print("Num_A: ", Num_A)
print("Num_B: ", Num_B)

#swap the number
temp = Num_A
Num_A = Num_B
Num_B = temp

#print the number
print("Numbers after swap")
print("Num_A: ", Num_A)
print("Num_B: ", Num_B)

Enter first number: 12
Enter second number: 21
Numbers before swap
Num_A:  12
Num_B:  21
Numbers after swap
Num_A:  21
Num_B:  12

# Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [47]:
#Take first coordinate from the user
num1_x = float(input("Enter x value for first coordinate: "))
num1_y = float(input("Enter y value for first coordinate: "))

#Take first coordinate from the user
num2_x = float(input("Enter x value for second coordinate: "))
num2_y = float(input("Enter y value for second coordinate: "))

#calculate euclidean distance
a = (num1_x - num2_x) ** 2
b = (num1_y - num2_y) ** 2
distance = (a + b) ** 0.5
print(f"Euclidean distance of the coordinates are: {distance: .2f}")

Enter x value for first coordinate: 3
Enter y value for first coordinate: 2
Enter x value for second coordinate: 5
Enter y value for second coordinate: 4
Euclidean distance of the coordinates are:  2.83

# Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [48]:
#take input for principle, interest_rate and time_period
Principle = float(input("Enter the amount of principle:"))# P
interest_rate = float(input("Enter the interest rate:"))# r
time_period = float(input("Enter duration of time in years:")) # n

#calculate interest with the formula I = P * r * n
interest = Principle * interest_rate * time_period

#print the calculated result
print("Interest over Principle is: ", interest)

Enter the amount of principle:120000
Enter the interest rate:12.4
Enter duration of time in years:3
Interest over Principle is:  4464000.0

# Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
For example: Input: heads -> 4 legs -> 12

Output: dogs -> 2 chicken -> 2

In [50]:
#take input from the user
Total_heads = int(input("Enter the number of heads: "))
num_legs = int(input("Enter the number of legs: "))

#calculate the number of dogs and chickens
dogs = Total_heads
chickens = 0

a = (dogs * 4) + (chickens * 2)
while a != num_legs:
  #print(a)
  dogs = dogs - 1;
  chickens += 1;
  a = (dogs * 4) + (chickens * 2)

print("Number of dogs are: ",dogs)
print("Number of chickens are: ",chickens)

Enter the number of heads: 7
Enter the number of legs: 20
Number of dogs are:  3
Number of chickens are:  4

# Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [57]:
#Take input from the user for the number
Num = int(input("Enter the number: "))
Sum_of_square = 0

#calculate the sum of squares
for i in range(Num+1):
  Sum_of_square += (i ** 2);

print("The sum of squares of first N natural numbers is: ",Sum_of_square)

Enter the number: 21
The sum of squares of first N natural numbers is:  3311

# Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [61]:
#take first two number from the user
Num_1 = int(input("Enter 1st number: "))
Num_2 = int(input("Enter 2nd number: "))
#take N'th term to be find
N = int(input("Enter position of n'th terms: "))

#calculate and find n'th terms assuming it's a parallel series
difference = Num_2 - Num_1
n_th_term = Num_1 + (N - 1) * difference
print("N'th term for linear series is: ",n_th_term)

#calculate and find n'th terms assuming it's a Qualifying clause
Ratio = Num_2 / Num_1
if Ratio == int(Ratio):
  n_th_term = Num_1 * (Ratio ** (N - 1))
  print("N'th term for linear series is: ",n_th_term)

Enter 1st number: 3
Enter 2nd number: 5
Enter position of n'th terms: 5
N'th term for linear series is:  11

# Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [67]:
#take the input for first fraction
Nume_x1 = int(input("Enter numerator for 1st fraction: "))
deno_y1 = int(input("Enter denominator for 1st fraction: "))

#take the input for second fraction
Nume_x2 = int(input("Enter numerator for 2nd fraction: "))
deno_y2 = int(input("Enter denominator for 2nd fraction: "))

#Add the fractions
Sum = ((Nume_x1*deno_y2) + (Nume_x2 * deno_y1))/(deno_y1 * deno_y2)
print(f"Sum of the fractions are: {Sum: .2f}")

Enter numerator for 1st fraction: 2
Enter denominator for 1st fraction: 3
Enter numerator for 2nd fraction: 4
Enter denominator for 2nd fraction: 5
Sum of the fractions are:  1.47

# Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

Input:
Dimensions of the milk tank

H = 20cm, L = 20cm, B = 20cm

3
Dimensions of the glass

h = 3cm, r = 1cm

In [64]:
#take the input for tank
Height = int(input("Enter the height of the tank: "))
Lenght = int(input("Enter the lenght of the tank: "))
Width = int(input("Enter the width of the tank: "))

# take the input for glass
Height_glass = int(input("Enter the height of the glass: "))
Redious_glass = int(input("Enter the redious of the glass: "))

#calculate the volume of the tank
Volume_of_tank = Height * Lenght * Width

#calculate the volume of glass
Volume_of_glass = 3.14159 * (Redious_glass ** 2) * Height_glass

#calculate the total number of glasses can be fill
Total_number_of_glasses = Volume_of_tank / Volume_of_glass

print("Number of glasses totally can be filled are: ",int(Total_number_of_glasses))

Enter the height of the tank: 20
Enter the lenght of the tank: 20
Enter the width of the tank: 20
Enter the height of the glass: 3
Enter the redious of the glass: 1
Number of glasses totally can be filled are:  848